src/main/mule/learning-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ac2b6f4b-f0ab-4777-8e48-e71c7894f8b4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="2d5a6628-933b-4f84-a062-53872635f962" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="9d0f356c-b40b-4380-8299-f2ca004f05d1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="ea3dbe16-2cea-478a-9aeb-b518a80dae02" >
		<http:request-connection host="localhost" port="8091" />
	</http:request-config>
	<flow name="learning-sampleFlow" doc:id="89fddf38-c791-49ed-8390-2d5d1b903785" >
		<http:listener doc:name="Listener" doc:id="edfee216-9c7e-4370-86fd-fdaa54749503" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="baa5d217-c9ec-4434-8b2b-a76538df5b7d" message="#[paylaod]"/>
		<ee:transform doc:name="Transform Message" doc:id="b8553838-2e0e-4c13-910d-6cdc4bff4ebc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1931ce63-7168-4bb2-b9c3-1d256bf3487a" />
		<http:request method="GET" doc:name="Request" doc:id="806f32f9-b41c-491e-aebb-e7c993c2ef12" path="/" config-ref="HTTP_Request_configuration"/>
		<logger level="INFO" doc:name="Logger" doc:id="d08b5e24-4435-4a8a-8af4-5faeb8194b7f" />
	</flow>
</mule>
