src/main/mule/learning-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ac2b6f4b-f0ab-4777-8e48-e71c7894f8b4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="ea3dbe16-2cea-478a-9aeb-b518a80dae02" >
		<http:request-connection host="localhost" port="8091" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="81b68d60-df0f-4211-9f6b-1aa381542341" >
		<http:request-connection host="jsonplaceholder.typicode.com" />
	</http:request-config>
	<flow name="learning-sampleFlow" doc:id="89fddf38-c791-49ed-8390-2d5d1b903785" >
		<http:listener doc:name="Listener" doc:id="edfee216-9c7e-4370-86fd-fdaa54749503" path="/test" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="baa5d217-c9ec-4434-8b2b-a76538df5b7d" message="paylaod"/>
		<ee:transform doc:name="Transform Message" doc:id="b8553838-2e0e-4c13-910d-6cdc4bff4ebc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1931ce63-7168-4bb2-b9c3-1d256bf3487a" message="#[payload]"/>
		<http:request method="GET" doc:name="Request" doc:id="2a9d9527-292e-44a9-88e8-410e16ed84ff" path="/users" config-ref="HTTP_Request_configuration1" target="response"/>
		<ee:transform doc:name="Transform Message" doc:id="cad25ac6-f5e4-492b-a897-a1159f485fb6" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="response2" ><![CDATA[%dw 2.0
output application/json
---
vars.response
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0f1169af-a984-4789-9fce-af0c8d7cb6f1" message="'this is for third party api result' #[vars.response]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="2d01aece-4050-40f3-aa38-59aea509a66e" >
				<logger level="INFO" doc:name="Logger" doc:id="9121c9a0-71b9-4ab8-86c8-c5138b0d8fee" message="this is for third party api on error continue"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
